html {
  font-size: 16px;
}
body {
  margin: 0;
  position: relative;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
header .top .logo {
  flex: 0 0 200px;
}
header .top .logo img {
  width: 100%;
}

header .top .search_btn {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
header .top .search_btn i {
  color: #333;
}
header .top .search {
  flex: 1;
  max-width: 600px;
}
header .top .search form {
  display: flex;
  margin-bottom: 8px;
}
header .top .search form input[type='text'] {
  flex: 1;
  outline: none;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #333;
  padding: 3px 10px;
}
header .top .search form button {
  background-color: #087a7a;
  color: #fff;
  outline: none;
  border: 1px solid #087a7a;
}
header .top .search form button:hover {
  opacity: 0.8;
}
header .top .search ul.tags {
  padding-left: 10px;
  margin-bottom: 0;
  list-style: none;
  display: flex;
}
header .top .search ul.tags li {
  margin-right: 10px;
  line-height: 1;
}
header .top .search ul.tags li:last-child {
  margin-right: 0;
}
header .top .search ul.tags li a {
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
}
header .top .search ul.tags li a:hover {
  opacity: 0.8;
}

header .top ul.head_right {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
}
header .top ul.head_right li {
  margin-right: 20px;
}
header .top ul.head_right li:last-child {
  margin-right: 0;
}
header .top ul.head_right li a {
  color: #333;
  text-decoration: none;
}
header .top ul.head_right li a:hover {
  opacity: 0.8;
}
header .top ul.head_right li:nth-child(2) a {
  padding: 5px 12px;
  color: #fff;
  background-color: #087a7a;
  border-radius: 5px;
}

header .bottom {
  background-color: #087a7a;
}
header .bottom .menu_btn {
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
header .bottom ul.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
header .bottom ul.nav > li {
  position: relative;
}
header .bottom ul.nav > li > a {
  display: block;
  padding: 16px;
  color: #fff;
  text-decoration: none;
}
header .bottom ul.nav > li > a:hover {
  opacity: 0.8;
}
header .bottom ul.nav > li > ul.sub_menu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 120%;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  transform: scaleY(0) translateX(-50%);
  transform-origin: top;
  transition-duration: 0.3s;
  background-color: #eee;
  box-shadow: 5px 5px 10px #00000047;
  padding: 5px 0;
  z-index: 2;
}
header .bottom ul.nav > li:hover > ul.sub_menu {
  transform: scaleY(1) translateX(-50%);
}
header .bottom ul.nav > li > ul.sub_menu > li {
  text-align: center;
  padding: 10px 10px;
}
header .bottom ul.nav > li > ul.sub_menu > li > a {
  display: block;
  color: #333;
  text-decoration: none;
}
header .bottom ul.nav > li > ul.sub_menu > li > a:hover {
  opacity: 0.8;
}
@media (max-width: 1200px) {
  header {
    position: relative;
  }
  header .top .logo {
    flex: 0 0 100px;
  }
  header .top .search_btn {
    display: block;
  }
  header .top .search {
    display: none;
  }
  header .bottom.active {
    border-bottom: 1px solid #fff;
  }
  header .bottom .menu_btn {
    display: flex;
  }
  header .bottom ul.nav {
    background-color: #087a7a;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    transform: scaleY(0);
    transition-duration: 0.3s;
    transform-origin: top;
    display: block;
    width: 100%;
  }
  header .bottom.active ul.nav {
    transform: scaleY(1);
  }
  header .bottom.active ul.nav > li {
    border-bottom: 1px solid #fff;
  }
  header .bottom.active ul.nav > li:last-child {
    border-bottom: none;
  }

  header .bottom ul.nav > li > ul.sub_menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: scaleY(1) translateX(0);
    box-shadow: unset;
    display: none;
  }
  header .bottom ul.nav > li:hover > ul.sub_menu {
    transform: scaleY(1) translateX(0);
  }
  header .bottom ul.nav > li.active > ul.sub_menu {
    display: block;
  }
  header .bottom ul.nav > li > ul.sub_menu li {
    text-align: left;
    padding: 10px 16px;
  }
  header .bottom.active ul.nav > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
  }
  header .bottom.active ul.nav > li.sub > a::after {
    font-size: 1.75rem;
    content: '›';
    transform: rotate(90deg);
  }
  header .bottom.active ul.nav > li.active > a::after {
    transform: rotate(-90deg);
  }
}

/*頁面上banner*/
.top_banner {
  margin-top: -40px;
}
.top_banner img {
  width: 100%;
}

/*頁面框架*/
.page {
  background-color: #f9f7f5;
  padding: 40px 0;
}
.page_frame {
  display: flex;
}
@media (max-width: 1200px) {
  .page {
    padding-top: 0;
  }
  .page_frame {
    display: block;
  }
}

/*麵包屑*/
ul.bread {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}
ul.bread li {
  color: #333;
  display: flex;
  align-items: center;
}
ul.bread li::after {
  content: '>';
  margin: 0 5px 2px 5px;
}
ul.bread li:last-child:after {
  display: none;
}
ul.bread li a {
  color: #333;
}

/*分頁*/
.pager {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.pager a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ccc;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
}
.pager a.active {
  background-color: #087a7a;
  color: #fff;
}
.pager a:last-child {
  margin-right: 0;
}
.pager a:hover {
  background-color: #087a7a;
  color: #fff;
}
.pager .prev::before {
  content: '<';
}
.pager .next::before {
  content: '>';
}

/*右側選單*/
.right_menu {
  flex: 0 0 280px;
  margin-left: 30px;
  margin-top: 20px;
}
.right_menu .title {
  font-size: 1.75rem;
  margin-bottom: 15px;
  line-height: 1;
  font-weight: 700;
}
.right_menu ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.right_menu ul li {
  margin-bottom: 10px;
}
.right_menu ul li:last-child {
  margin-bottom: 0;
}
.right_menu ul li a {
  display: block;
}
.right_menu ul li a:hover {
  opacity: 0.8;
}
.right_menu ul li a img {
  width: 100%;
}
@media (max-width: 1200px) {
  .right_menu {
    display: none;
  }
}

/*彈出登入、註冊窗*/
.popup_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: none;
}
.popup_bg.active {
  display: block;
}
.popup_bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.popup_bg .popup {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  max-width: 800px;
}
.popup_bg .popup .close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.popup_bg .popup .left {
  flex: 0 0 50%;
}
.popup_bg .popup .left img {
  width: 100%;
}
.popup_bg .popup .right {
  flex: 0 0 50%;
  padding: 40px 20px;
  height: 513px;
  overflow-y: auto;
}
.popup_bg .popup .right::-webkit-scrollbar {
  width: 5px;
}
.popup_bg .popup .right .con {
  width: 300px;
  display: none;
  margin: auto;
}
.popup_bg .popup .right .con.active {
  display: block;
}
.popup_bg .popup .right .con h1 {
  font-size: 1.5rem;
  text-align: center;
}
.popup_bg .popup .right .con h3 {
  font-size: 1rem;
  text-align: center;
}
.popup_bg .popup .right .con .social_login {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.popup_bg .popup .right .con .social_login .fb_btn {
  flex: 0 0 140px;
  background-color: #4568b2;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}
.popup_bg .popup .right .con .social_login .fb_btn:hover {
  opacity: 0.8;
}
.popup_bg .popup .right .con .social_login .google_btn {
  flex: 0 0 140px;
  border: 1px solid #a09a99;
  color: #a09a99;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}
.popup_bg .popup .right .con .social_login .google_btn:hover {
  opacity: 0.8;
}
.popup_bg .popup .right .con .input_group {
  width: 100%;
  margin-bottom: 15px;
}
.popup_bg .popup .right .con .input_group span.hr {
  display: block;
  margin: 10px 0;
  text-align: center;
}
.popup_bg .popup .right .con .input_group .input {
  flex: 0 0 100%;
  margin-bottom: 12px;
}
.popup_bg .popup .right .con .input_group .input:last-child {
  margin-bottom: 0;
}
.popup_bg .popup .right .con .input_group .input input[type='text'],
.popup_bg .popup .right .con .input_group .input input[type='password'] {
  width: 100%;
  outline: none;
  border: 1px solid #a09a99;
  padding: 10px;
  border-radius: 3px;
  font-size: 0.9rem;
}
.popup_bg .popup .right .con .input_group .input input[type='text']:focus,
.popup_bg .popup .right .con .input_group .input input[type='password']:focus {
  border-color: #4568b2;
  box-shadow: 0 0 4px #4568b2;
}
.popup_bg .popup .right .con .forget_btn {
  width: 100%;
  margin-bottom: 15px;
}
.popup_bg .popup .right .con .forget_btn a {
  color: #ff485a;
  font-size: 0.75rem;
}
.popup_bg .popup .right .con .check {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.popup_bg .popup .right .con .check label {
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 0.9rem;
}
.popup_bg .popup .right .con .check label a {
  color: #ff485a;
}
.popup_bg .popup .right .con .send_btn {
  font-size: 1rem;
  margin-bottom: 15px;
}
.popup_bg .popup .right .con .send_btn button {
  width: 100%;
  background-color: #ff485a;
  color: #fff;
  border: none;
  padding: 8px 0;
}
.popup_bg .popup .right .con .send_btn button:hover {
  opacity: 0.8;
}
.popup_bg .popup .right .con .account_btn {
  font-size: 0.75rem;
  text-align: center;
}
.popup_bg .popup .right .con .account_btn span {
  color: #ff485a;
  margin-left: 5px;
  cursor: pointer;
}
.popup_bg .popup .right .con .account_btn span:hover {
  text-decoration: underline;
}
.popup_bg .popup .bottom {
  flex: 0 0 100%;
  padding: 5px 10px;
  border-top: 1px solid #dee2e6;
}
.popup_bg .popup .bottom ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 0;
}
.popup_bg .popup .bottom ul li {
  margin-right: 10px;
}
.popup_bg .popup .bottom ul li a {
  color: #333;
  font-size: 0.75rem;
}
@media (max-width: 1200px) {
  .popup_bg .popup .left {
    display: none;
  }
  .popup_bg .popup .right {
    flex: 0 0 100%;
    padding: 30px 20px;
    height: 450px;
  }
}
