html {
  font-size: 16px;
}
body {
  margin: 0;
  position: relative;
}
body.fixed {
  overflow: hidden;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header .top .logo {
  flex: 0 0 200px;
}
header .top .logo img {
  width: 100%;
}

header .top .search_btn {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
header .top .search_btn i {
  color: #333;
}
header .top .search {
  flex: 1;
  max-width: 500px;
}
header .top .search form {
  display: flex;
  position: relative;
}
header .top .search form input[type='text'] {
  flex: 1;
  outline: none;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 3px 10px;
}
header .top .search form .cancel {
  display: none;
}
header .top .search form .clear {
  position: absolute;
  top: 4px;
  right: 5px;
  cursor: pointer;
}
header .top .search form .clear:hover {
  opacity: 0.8;
}
header .top .search ul.search_result {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  margin-top: 2px;
  width: 100%;
  min-height: 100px;
  background-color: #fff;
  padding-left: 0;
  list-style: none;
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 0.5s;
}
header .top .search ul.search_result.active {
  transform: scaleY(1);
}
header .top .search ul.search_result.loading::before {
  content: '';
  display: block;
  background-image: url(../images/search_loading.gif);
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 20px auto;
}
header .top .search ul.search_result > li {
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
}
header .top .search ul.search_result.loading > li {
  display: none;
}
header .top .search ul.search_result > li:last-child {
  border-bottom: none;
}
header .top .search ul.search_result > li .title {
  font-size: 1.15rem;
  margin-bottom: 5px;
  padding: 0 20px;
}
header .top .search ul.search_result > li .s_authors {
  margin-bottom: 10px;
}
header .top .search ul.search_result > li .s_authors a.item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}
header .top .search ul.search_result > li .s_authors a.item:hover {
  background-color: #ccc;
}
header .top .search ul.search_result > li .s_authors .item .avatar {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: 10px;
}
header .top .search ul.search_result > li .s_tags {
  margin: 10px 0;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
header .top .search ul.search_result > li .s_tags .item {
  background-color: #bbb;
  color: #333;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 0.75rem;
  text-decoration: none;
}
header .top .search ul.search_result > li .s_tags .item:hover {
  opacity: 0.8;
}
header .top .search ul.search_result > li a.more {
  color: #555;
  text-decoration: underline;
  padding: 0 20px;
}
header .top .search ul.search_result > li a.more:hover {
  color: #000;
}
header .top .search form button {
  background-color: #32aaa8;
  color: #fff;
  padding: 0 10px;
  outline: none;
  border: 1px solid #32aaa8;
}
header .top .search form button:hover {
  opacity: 0.8;
}
header .top .search ul.tags {
  padding-left: 10px;
  margin-bottom: 0;
  list-style: none;
  display: flex;
}
header .top .search ul.tags li {
  margin-right: 10px;
  line-height: 1;
}
header .top .search ul.tags li:last-child {
  margin-right: 0;
}
header .top .search ul.tags li a {
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
}
header .top .search ul.tags li a:hover {
  opacity: 0.8;
}

header .top .head_right {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
header .top ul.head_right li {
  margin-right: 20px;
}
header .top ul.head_right li:last-child {
  margin-right: 0;
}
header .top ul.head_right li a {
  color: #333;
  text-decoration: none;
}
header .top ul.head_right li a i {
  margin-right: 5px;
}
header .top ul.head_right li a:hover {
  opacity: 0.8;
}
header .top ul.head_right li:last-child a {
  padding: 5px 12px;
  color: #fff;
  background-color: #32aaa8;
  border-radius: 5px;
}

header .top .head_right div.tobuy a {
  color: #333;
  margin-right: 15px;
  text-decoration: none;
}
header .top .head_right div.tobuy a i {
  margin-right: 5px;
}
header .top .head_right div.tobuy a:hover {
  opacity: 0.8;
}
header .top .head_right .member_name {
  font-weight: bold;
}
header .top .head_right .member_name a {
  color: #333;
  text-decoration: none;
}
header .top .head_right .member_name a:hover {
  opacity: 0.8;
}
header .top .head_right button.logout {
  color: rgb(255, 255, 255);
  background-color: #32aaa8;
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  text-decoration: none;
}
header .top .head_right button.logout:hover {
  opacity: 0.8;
}

header .bottom {
  background-color: #32aaa8;
}
header .bottom .menu_btn {
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
header .bottom ul.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
header .bottom ul.nav > li {
  position: relative;
}
header .bottom ul.nav > li > a {
  display: block;
  padding: 16px;
  color: #fff;
  text-decoration: none;
}
header .bottom ul.nav > li > a:hover {
  opacity: 0.8;
}
header .bottom ul.nav > li > ul.sub_menu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 120%;
  min-width: 115px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  transform: scaleY(0) translateX(-50%);
  transform-origin: top;
  transition-duration: 0.3s;
  background-color: #eee;
  box-shadow: 5px 5px 10px #00000047;
  z-index: 2;
}
header .bottom ul.nav > li:hover > ul.sub_menu {
  transform: scaleY(1) translateX(-50%);
}
header .bottom ul.nav > li > ul.sub_menu > li {
  text-align: center;
}
header .bottom ul.nav > li > ul.sub_menu > li > a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px 10px;
}
header .bottom ul.nav > li > ul.sub_menu > li > a:hover {
  background-color: #32aaa8;
  color: #fff;
}
@media (max-width: 1200px) {
  header {
    position: relative;
  }
  header .tobuy {
    display: none;
  }
  header .top .logo {
    flex: 0 0 100px;
  }
  header .top .search_btn {
    display: block;
  }
  header .top .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: unset;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 3;
    display: none;
  }
  header .top .search.active {
    display: block;
  }
  header .top .search::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  header .top .search form {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    align-items: center;
  }
  header .top .search form .cancel {
    display: block;
    margin-left: 10px;
    cursor: pointer;
  }
  header .top .search form .clear {
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
  }
  header .top .search ul.search_result {
    margin-top: 0;
    max-height: calc(100vh - 120px);
    overflow: auto;
  }
  header .top .head_right {
    flex: 0 0 auto;
  }
  header .top ul.head_right li {
    margin-right: 0;
  }
  header .top ul.head_right li:last-child {
    display: none;
  }

  header .bottom.active {
    border-bottom: 1px solid #fff;
  }
  header .bottom .menu_btn {
    display: flex;
  }
  header .bottom ul.nav {
    background-color: #32aaa8;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    transform: scaleY(0);
    transition-duration: 0.3s;
    transform-origin: top;
    display: block;
    width: calc(100% - 0.1px);
  }
  header .bottom.active ul.nav {
    transform: scaleY(1);
  }
  header .bottom.active ul.nav > li {
    border-bottom: 1px solid #fff;
  }
  header .bottom.active ul.nav > li:last-child {
    border-bottom: none;
  }

  header .bottom ul.nav > li > ul.sub_menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: scaleY(1) translateX(0);
    box-shadow: unset;
    display: none;
  }
  header .bottom ul.nav > li:hover > ul.sub_menu {
    transform: scaleY(1) translateX(0);
  }
  header .bottom ul.nav > li.active > ul.sub_menu {
    display: block;
  }
  header .bottom ul.nav > li > ul.sub_menu li {
    text-align: left;
    padding: 10px 16px;
  }
  header .bottom.active ul.nav > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
  }
  header .bottom.active ul.nav > li.sub > a::after {
    font-size: 1.75rem;
    content: '›';
    transform: rotate(90deg);
  }
  header .bottom.active ul.nav > li.active > a::after {
    transform: rotate(-90deg);
  }
}

/*頁面上banner*/
.top_banner {
  margin-top: -40px;
}
.top_banner img {
  width: 100%;
}

/*頁面框架*/
.page {
  background-color: #f9f7f5;
  padding: 20px 0 60px 0;
}
.page_frame {
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .page {
    padding-top: 0;
  }
  .page_frame {
    display: block;
  }
}

/*麵包屑*/
ul.bread {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}
ul.bread li {
  color: #333;
  display: flex;
  align-items: center;
}
ul.bread li::after {
  content: '>';
  margin: 0 5px 2px 5px;
}
ul.bread li:last-child:after {
  display: none;
}
ul.bread li a {
  color: #333;
}

/*分頁*/
.pager {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.pager a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ccc;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
}
.pager a.active {
  background-color: #32aaa8;
  color: #fff;
}
.pager a:last-child {
  margin-right: 0;
}
.pager a:hover {
  background-color: #32aaa8;
  color: #fff;
}
.pager .prev::before {
  content: '<';
}
.pager .next::before {
  content: '>';
}

/*右側選單*/
.right_menu {
  flex: 0 0 280px;
  margin-left: 30px;
  margin-top: 20px;
}
.right_menu .class_item {
  margin-bottom: 30px;
}
.right_menu .class_item:last-child {
  margin-bottom: 0;
}
.right_menu .class_item .title {
  font-size: 1.75rem;
  margin-bottom: 15px;
  line-height: 1;
  font-weight: 700;
}
.right_menu .class_item ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.right_menu .class_item ul li {
  margin-bottom: 20px;
}
.right_menu .class_item ul li:last-child {
  margin-bottom: 0;
}
.right_menu .class_item ul li a {
  display: block;
  padding-bottom: 50%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.right_menu .class_item ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
.right_menu .class_item ul li a:hover {
  opacity: 0.8;
}
.right_menu .class_item ul li a span {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5px 10px;
  align-items: flex-end;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .right_menu {
    flex: 0 0 100%;
    margin-left: 0;
  }
  .right_menu .class_item .title {
    font-size: 1.5rem;
  }
  .right_menu .class_item ul {
    display: flex;
    overflow-x: auto;
  }
  .right_menu .class_item ul li {
    flex: 0 0 300px;
    margin-right: 20px;
  }
  .right_menu .class_item ul li:last-child {
    margin-right: 0;
  }
}

/*彈出登入、註冊窗*/
.popup_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: none;
}
.popup_bg.active {
  display: block;
}
.popup_bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.popup_bg .popup {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  max-width: 800px;
}
.popup_bg .popup .close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.popup_bg .popup .left {
  flex: 0 0 50%;
}
.popup_bg .popup .left img {
  width: 100%;
}
.popup_bg .popup .right {
  flex: 0 0 50%;
  padding: 40px 20px;
  height: 513px;
  overflow-y: auto;
}
.popup_bg .popup .right::-webkit-scrollbar {
  width: 5px;
}
.popup_bg .popup .right .con {
  width: 300px;
  display: none;
  margin: auto;
}
.popup_bg .popup .right .con.active {
  display: block;
}
.popup_bg .popup .right .con h1 {
  font-size: 1.5rem;
  text-align: center;
}
.popup_bg .popup .right .con h3 {
  font-size: 1rem;
  text-align: center;
}
.popup_bg .popup .right .con .desc {
  font-size: 1rem;
  margin-bottom: 30px;
}
.popup_bg .popup .right .con .social_login {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.popup_bg .popup .right .con .social_login .fb_btn {
  flex: 0 0 140px;
  background-color: #4568b2;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}
.popup_bg .popup .right .con .social_login .fb_btn:hover {
  opacity: 0.8;
}
.popup_bg .popup .right .con .social_login .google_btn {
  flex: 0 0 140px;
  border: 1px solid #a09a99;
  color: #a09a99;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}
.popup_bg .popup .right .con .social_login .google_btn:hover {
  opacity: 0.8;
}
.popup_bg .popup .right .con .input_group {
  width: 100%;
  margin-bottom: 15px;
}
.popup_bg .popup .right .con .input_group span.hr {
  display: block;
  margin: 10px 0;
  text-align: center;
}
.popup_bg .popup .right .con .input_group .input {
  flex: 0 0 100%;
  margin-bottom: 12px;
}
.popup_bg .popup .right .con .input_group .input:last-child {
  margin-bottom: 0;
}
.popup_bg .popup .right .con .input_group .input input[type='text'],
.popup_bg .popup .right .con .input_group .input input[type='password'] {
  width: 100%;
  outline: none;
  border: 1px solid #a09a99;
  padding: 10px;
  border-radius: 3px;
  font-size: 0.9rem;
}
.popup_bg .popup .right .con .input_group .input input[type='text']:focus,
.popup_bg .popup .right .con .input_group .input input[type='password']:focus {
  border-color: #4568b2;
  box-shadow: 0 0 4px #4568b2;
}
.popup_bg .popup .right .con .forget_btn {
  width: 100%;
  margin-bottom: 15px;
}
.popup_bg .popup .right .con .forget_btn a {
  color: #ff485a;
  font-size: 0.75rem;
  cursor: pointer;
}
.popup_bg .popup .right .con .forget_btn a:hover {
  text-decoration: underline;
}
.popup_bg .popup .right .con .check {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.popup_bg .popup .right .con .check label {
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 0.9rem;
}
.popup_bg .popup .right .con .check label a {
  color: #ff485a;
}
.popup_bg .popup .right .con .send_btn {
  font-size: 1rem;
  margin-bottom: 15px;
}
.popup_bg .popup .right .con .send_btn button {
  width: 100%;
  background-color: #ff485a;
  color: #fff;
  border: none;
  padding: 8px 0;
}
.popup_bg .popup .right .con .send_btn button:hover {
  opacity: 0.8;
}
.popup_bg .popup .right .con .account_btn {
  font-size: 0.75rem;
  text-align: center;
}
.popup_bg .popup .right .con .account_btn span {
  color: #ff485a;
  margin-left: 5px;
  cursor: pointer;
}
.popup_bg .popup .right .con .account_btn span:hover {
  text-decoration: underline;
}
.popup_bg .popup .right .con .back_btn {
  font-size: 1rem;
  margin-top: -8px;
}
.popup_bg .popup .right .con .back_btn button {
  width: 100%;
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 8px 0;
}
.popup_bg .popup .right .con .back_btn button:hover {
  opacity: 0.8;
}
.popup_bg .popup .bottom {
  flex: 0 0 100%;
  padding: 5px 10px;
  border-top: 1px solid #dee2e6;
}
.popup_bg .popup .bottom ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 0;
}
.popup_bg .popup .bottom ul li {
  margin-right: 10px;
}
.popup_bg .popup .bottom ul li a {
  color: #333;
  font-size: 0.75rem;
}
@media (max-width: 1200px) {
  .popup_bg .popup .left {
    display: none;
  }
  .popup_bg .popup .right {
    flex: 0 0 100%;
    padding: 30px 20px;
    height: 450px;
  }
}

/*單頁*/
.pageinfo .title {
  color: #665e5c;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.section {
  margin-bottom: 60px;
  line-height: 2;
}
.section .s_title {
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: bold;
}
.section .s_title::before {
  content: '[';
}
.section .s_title::after {
  content: ']';
}
.section .desc .sub_desc {
  font-size: 1.15rem;
  margin-bottom: 20px;
}
.section .desc > ul {
  list-style: decimal;
  padding-left: 20px;
  margin-bottom: 0;
}
.section .desc > ul > li {
  margin-bottom: 10px;
  font-size: 1.15rem;
  line-height: 2;
}
.section .desc > ul > li > ul {
  padding-left: 20px;
  list-style: disc;
  margin-top: 10px;
}
.section .desc > ul > li > ul > li {
  margin-bottom: 10px;
  font-size: 1.15rem;
  line-height: 2;
}

/*頁尾*/
footer {
  background-color: #333;
  padding: 40px 0 20px 0;
}
footer .foot_info {
  display: flex;
  justify-content: space-between;
}
footer .foot_info .left {
  flex: 0 0 200px;
}
footer .foot_info .left .foot_logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
footer .foot_info .left .foot_logo a {
  max-width: 200px;
}
footer .foot_info .left .foot_logo a:hover {
  opacity: 0.8;
}
footer .foot_info .left .foot_logo a img {
  width: 100%;
}
footer .foot_info .left .copyright {
  color: #fff;
  margin-bottom: 20px;
}
footer .foot_info .left ul.social {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
footer .foot_info .left ul.social li {
  font-size: 1.75rem;
  margin-right: 20px;
  line-height: 1;
}
footer .foot_info .left ul.social li:last-child {
  margin-right: 0;
}
footer .foot_info .left ul.social li a {
  color: #fff;
}
footer .foot_info .left ul.social li a:hover {
  opacity: 0.8;
}

footer .foot_info .right {
  flex: 0 0 650px;
}
footer .foot_info .right ul.menu {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
footer .foot_info .right ul.menu > li {
  flex: 1;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  margin-right: 10px;
}
footer .foot_info .right ul.menu > li:last-child {
  margin-right: 0;
}
footer .foot_info .right ul.menu > li:last-child {
  margin-right: 0;
}
footer .foot_info .right ul.menu > li > span {
  display: block;
  margin-bottom: 25px;
  font-size: 1.25rem;
}
footer .foot_info .right ul.menu > li > a {
  color: #fff;
}
footer .foot_info .right ul.menu > li > ul {
  padding-left: 0;
  list-style: none;
}
footer .foot_info .right ul.menu > li > ul > li {
  margin-bottom: 10px;
  line-height: 1.5;
}
footer .foot_info .right ul.menu > li > ul > li:last-child {
  margin-bottom: 0;
}
footer .foot_info .right ul.menu > li > ul > li > a {
  color: #fff;
}
@media (max-width: 1200px) {
  footer .foot_info {
    flex-wrap: wrap;
  }
  footer .foot_info .left {
    flex: 0 0 100%;
  }
  footer .foot_info .left ul.social {
    margin-bottom: 30px;
  }
  footer .foot_info .right {
    flex: 0 0 100%;
  }
  footer .foot_info .right ul.menu {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer .foot_info .right ul.menu > li {
    flex: 0 0 50%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
