@import url(./common.css);

/*首頁上半部*/
.index_top {
  display: flex;
  width: 100%;
}
.index_top .slider {
  width: 800px;
  position: relative;
}
.index_top .slider .item a {
  display: block;
}
.index_top .slider .item a:hover {
  opacity: 0.85;
}
.index_top .slider .owl-dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.index_top .slider .owl-dots button {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 10px;
}
.index_top .slider .owl-dots button:last-child {
  margin-right: 0;
}
.index_top .slider .owl-dots button.active {
  background-color: #ddd;
}

/*排名*/
.index_top .index_rank {
  flex: 1;
  margin-left: 30px;
}
.index_top .index_rank .title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 700;
}
.index_top .index_rank ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 46px);
}
.index_top .index_rank ul li {
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 7px;
}
.index_top .index_rank ul li:last-child {
  margin-bottom: 0;
}
.index_top .index_rank ul li {
  display: flex;
  align-items: flex-start;
  color: #333;
}
.index_top .index_rank ul li label {
  font-size: 1.75rem;
  font-style: italic;
  margin-bottom: 0;
  margin-right: 10px;
}
.index_top .index_rank ul li .con .name {
  margin-bottom: 5px;
}
.index_top .index_rank ul li .con .name a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.index_top .index_rank ul li .con .name a:hover {
  opacity: 0.8;
}
.index_top .index_rank ul li .con .author {
  display: flex;
}
.index_top .index_rank ul li .con .author a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.index_top .index_rank ul li .con .author a:hover {
  opacity: 0.8;
}

/*推薦*/
.index_recommend {
  flex: 1;
  max-width: 800px;
  margin-top: 20px;
}
.index_recommend .recommend_item {
  margin-bottom: 40px;
}
.index_recommend .recommend_item .title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}
.index_recommend .recommend_item .title label {
  margin-bottom: 0;
  margin-right: 15px;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 700;
}
.index_recommend .recommend_item .title a {
  font-size: 1rem;
  line-height: 1;
}
.index_recommend .recommend_item .title span {
  margin-left: auto;
  font-size: 1rem;
  line-height: 1;
}

.index_recommend .recommend_item .recommend_slider {
  width: 800px;
  position: relative;
}
.index_recommend .recommend_item .recommend_slider .item a.img {
  display: block;
  padding-bottom: 69%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
.index_recommend .recommend_item .recommend_slider .item a.img:hover {
  opacity: 0.8;
}
.index_recommend .recommend_item .recommend_slider .item .name {
  margin-bottom: 10px;
}
.index_recommend .recommend_item .recommend_slider .item .name a {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.index_recommend .recommend_item .recommend_slider .item .name a:hover {
  opacity: 0.8;
}
.index_recommend .recommend_item .recommend_slider .item .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.index_recommend .recommend_item .recommend_slider .item .bottom .author a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.index_recommend
  .recommend_item
  .recommend_slider
  .item
  .bottom
  .author
  a
  span {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.index_recommend
  .recommend_item
  .recommend_slider
  .item
  .bottom
  .author
  a:hover {
  opacity: 0.8;
}

.index_recommend .recommend_item .recommend_slider .item .bottom .loved i {
  margin-right: 5px;
  color: #333;
}
.index_recommend .recommend_item .recommend_slider .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-45px);
  height: 0;
}
.index_recommend .recommend_item .recommend_slider .owl-nav button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100%;
  opacity: 0.8;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index_recommend .recommend_item .recommend_slider .owl-nav button:hover {
  opacity: 1;
  border-color: #ddd;
}

.index_recommend .recommend_item .recommend_slider .owl-nav button.owl-prev {
  transform: translateX(-50%);
}

.index_recommend .recommend_item .recommend_slider .owl-nav button.owl-next {
  transform: translateX(50%);
}

.index_recommend .recommend_item .recommend_slider .owl-nav button span {
  font-size: 2rem;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .index_top {
    display: block;
  }
  .index_top .slider {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
  }
  .index_top .index_rank {
    margin-left: 0;
  }

  .index_recommend {
    width: 100%;
    max-width: unset;
  }
  .index_recommend .recommend_item {
    width: 100%;
    margin-bottom: 30px;
  }
  .index_recommend .recommend_item .title label {
    font-size: 1.5rem;
  }
  .index_recommend .recommend_item .recommend_slider {
    width: 100%;
  }
  .index_recommend .recommend_item .recommend_slider .item .img {
    padding-bottom: 40%;
  }
  .index_recommend .recommend_item .recommend_slider .owl-nav {
    display: none;
  }
}
