@import url(./common.css);

.plan_form {
  width: 100%;
}
.plan_form .top_desc{
  display: block;
  margin-bottom: 40px;
  line-height: 1.75;
}
.plan_form .top_desc ul{
  list-style: decimal;
  padding-left: 20px;
}
.plan_form .top{
  display: flex;
  align-items: flex-start;
}
.plan_form .top ul.tabs {
  flex: 0 0 200px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.plan_form .top ul.tabs li {
  flex: 1;
  margin-bottom: 10px;
}

.plan_form .top ul.tabs li input[type='radio'] {
  display: none;
}
.plan_form .top ul.tabs li label {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
}
.plan_form .top ul.tabs li input[type='radio']:checked + label {
  background-color: #116f86;
  color: #fff;
  border-color: #116f86;
}
.plan_form .top ul.tabs li:nth-child(2) input[type='radio']:checked + label {
  background-color: #0c94b3;
  border-color: #0c94b3;
}
.plan_form .top ul.tabs li:nth-child(3) input[type='radio']:checked + label {
  background-color: #0e988b;
  border-color: #0e988b;
}
.plan_form .top ul.tabs li:nth-child(4) input[type='radio']:checked + label {
  background-color: #07b974;
  border-color: #07b974;
}

.plan_form .top .panels {
  margin-bottom: 80px;
  flex: 1;
}
.plan_form .top .panels .panel {
  display: none;
  margin-bottom: 20px;
  overflow-x: auto;
}
.plan_form .top .panels .panel.active {
  display: flex;
}
.plan_form .top .panels .panel .item {
  flex: 1;
  min-width: 150px;
  padding: 10px;
  border-right: 1px solid #ccc;
  text-align: center;
}
.plan_form .top .panels .panel .item:first-child {
  border-left: 1px solid #ccc;
}

/*點數*/
.plan_form .top .panels .panel.point .item .title {
  font-size: 1.25rem;
  line-height: 1;
}
.plan_form .top .panels .panel.point .item .bonus {
  margin-bottom: 10px;
  font-size: 1.25rem;
}
.plan_form .top .panels .panel.point .item .bonus span {
  display: block;
  font-size: 1.25rem;
  color: #087a7a;
  line-height: 1;
}
.plan_form .top .panels .panel.point .item .point_total {
  font-size: 1.75rem;
  margin-bottom: 10px;
  color: #087a7a;
}
.plan_form .top .panels .panel.point .item .total {
  text-align: right;
  margin-bottom: 20px;
}

/*包月 包年方案*/
.plan_form .top .panels .panel.month .item .title,
.plan_form .top .panels .panel.year .item .title,
.plan_form .top .panels .panel.sponsor .item .title {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 10px;
}
.plan_form .top .panels .panel.month .item .per_month,
.plan_form .top .panels .panel.year .item .per_month,
.plan_form .top .panels .panel.sponsor .item .per_month {
  font-size: 1.75rem;
  margin-bottom: 5px;
  color: #087a7a;
}
.plan_form .top .panels .panel.month .item .total,
.plan_form .top .panels .panel.year .item .total,
.plan_form .top .panels .panel.sponsor .item .total {
  text-align: right;
  margin-bottom: 10px;
}
.plan_form .top .panels .panel:nth-child(2) .item .point_total,
.plan_form .top .panels .panel:nth-child(3) .item .point_total {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: right;
}

/*購買按鈕*/
.plan_form .top .panels .panel .item .purchase {
  margin-bottom: 10px;
}
.plan_form .top .panels .panel .item .purchase a {
  display: block;
  width: 100%;
  background-color: #116f86;
  color: #fff;
  border: none;
  padding: 8px 0;
  cursor: pointer;
  text-decoration: none;
}
.plan_form .top .panels .panel .item .purchase a:hover {
  opacity: 0.8;
}

.plan_form .top .panels .panel.month .item .purchase a {
  background-color: #0c94b3;
}
.plan_form .top .panels .panel.year .item .purchase a {
  background-color: #0e988b;
}
.plan_form .top .panels .panel.sponsor .item .purchase a {
  background-color: #07b974;
}


/*注意事項*/
.plan_form .notice {
  margin-bottom: 80px;
}
.plan_form .notice .title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.plan_form .notice ul {
  padding-left: 20px;
}
.plan_form .notice ul li {
  margin-bottom: 10px;
  line-height: 1.75;
}
/*常見問題*/
.plan_form .qanda {
  margin-bottom: 80px;
}
.plan_form .qanda .title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.plan_form .qanda .item {
  margin-bottom: 30px;
}
.plan_form .qanda .item .name {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.plan_form .qanda .item .name::before {
  content: 'Q';
  background-color: #333;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 10px;
}
.plan_form .qanda .item .con {
  display: flex;
  margin-left: 40px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}
.plan_form .qanda .item .con::before {
  content: 'A';
  background-color: #087a7a;
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  margin-right: 10px;
}

/*著作權*/
.plan_form .copyright{
  line-height: 1.75;
}
.plan_form .copyright .title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.plan_form .copyright .con ul {
  list-style: decimal;
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .plan_form .top{
    display: block;
  }
  .plan_form .top ul.tabs{
    display: flex;
    margin-right: 0;
  }
  .plan_form .top ul.tabs li{
    margin-right: 10px;
  }
  .plan_form .top ul.tabs li:last-child{
    margin-right: 0;
  }
  .plan_form .top .panels .panel .item {
    padding: 20px;
  }
  .plan_form .top .panels .panel .item{
    min-width: 250px;
  }
}
