@import url(./common.css);

.right_menu {
  margin-top: 0;
}

.product {
  flex: 1;
}
.product .top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.product .top .main_pic {
  flex: 0 0 350px;
  margin-right: 20px;
}
.product .top .main_pic img {
  width: 100%;
}
.product .top .main_pic .pic {
  width: 100%;
  background-position: center;
  background-size: cover;
  padding-bottom: 100%;
  border: 1px solid #ccc;
}
.product .top .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}
/*產品資訊*/
.product .top .text .info .name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.product .top .text .info .name .like {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  font-size: 1.25rem;
}
.product .top .text .info .name .like span {
  display: flex;
  cursor: pointer;
}
.product .top .text .info .name .like span::before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  margin-right: 10px;
  color: #ccc;
}
.product .top .text .info .name .like span.active::before,
.product .top .text .info .name .like span:hover::before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  margin-right: 10px;
  color: #ef73ef;
}
.product .top .text .info .name .like span.active font {
}
.product .top .text .info .item {
  margin-bottom: 10px;
  font-size: 1.25rem;
}
.product .top .text .info .item:last-child {
  margin-bottom: 0;
}
.product .top .text .info .item label {
  margin-bottom: 0;
  font-weight: 700;
}
.product .top .text .info .item a {
  color: #333;
}
.product .top .text .info .plan_select {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.product .top .text .info .plan_select .title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.product .top .text .info .plan_select ul.tabs {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
  margin-bottom: 15px;
}
.product .top .text .info .plan_select ul.tabs li {
  margin-right: 10px;
}
.product .top .text .info .plan_select ul.tabs li input[type='radio'] {
  display: none;
}
.product .top .text .info .plan_select ul.tabs li label {
  border: 1px solid #333;
  padding: 5px 15px;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0;
}
.product
  .top
  .text
  .info
  .plan_select
  ul.tabs
  li
  input[type='radio']:checked
  + label {
  background-color: #087a7a;
  border-color: #087a7a;
  color: #fff;
}

.product .top .text .info .plan_select .panels {
  flex: 0 0 100%;
}
.product .top .text .info .plan_select .panels .panel {
  display: none;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.15rem;
}
.product .top .text .info .plan_select .panels .panel.active {
  display: flex;
}
.product .top .text .info .plan_select .panels .panel .price,
.product .top .text .info .plan_select .panels .panel .count {
  display: flex;
  align-items: center;
}
.product .top .text .info .plan_select .panels .panel .price span,
.product .top .text .info .plan_select .panels .panel .count span {
  margin-left: 10px;
  margin-right: 10px;
  color: red;
}
.product .top .text .info .plan_select .panels .panel a {
  color: #333;
}

.product .top .text .download {
  display: flex;
  justify-content: flex-end;
}
.product .top .text .download span {
  background-color: #087a7a;
  color: #fff;
  font-size: 1.25rem;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.product .top .text .download span:hover {
  opacity: 0.8;
}
/*標籤*/
.product .top ul.tags {
  margin-top: 30px;
  flex: 0 0 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}
.product .top ul.tags li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.product .top ul.tags li:last-child {
  margin-right: 0;
}
.product .top ul.tags li a {
  background-color: #e4e4e4;
  padding: 3px 10px;
  text-decoration: none;
  color: #333;
}
.product .top ul.tags li a:hover {
  opacity: .8;
}
.product .top .info_bottom{
  display: flex;
  margin-top: 20px;
}
.product .top .info_bottom .item{
  margin-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.product .top .info_bottom .item label{
  margin-bottom: 0;
  margin-right: 3px;
}
.product .top .info_bottom .item .count{
  border: 1px solid #bbb;
  min-width: 50px;
  text-align: center;
  margin-left: 9px;
  position: relative;
}
.product .top .info_bottom .item .count .arrow{
  position: absolute;
  left: -9px;
  top: 20px;
  transform: rotate(-90deg) translateY(-50%);
}
.product .top .info_bottom .item .count .arrow::before,
.product .top .info_bottom .item .count .arrow::after {
  position: absolute;
  display: block;
  content: '';
  border-color: transparent;
  border-style: solid;
}
.product .top .info_bottom .item .count .arrow:before {
  top: 0;
  border-width: 0 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.product .top .info_bottom .item .count .arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem;
  border-bottom-color: #fff;
}


/*產品描述*/
.product .main .title {
  border-bottom: 2px solid #333;
}
.product .main .title span {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75;
}
.product .main .editor {
  padding: 30px 0;
}

@media (max-width: 1200px) {
  .product .top .main_pic {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .product .top .text {
    padding-top: 0;
  }
  .product .top .text .info .name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .product .top .text .info .name .like {
    margin-top: 0;
    justify-content: flex-start;
    margin-left: 10px;
    flex: 0 0 28px;
  }
  .product .top .text .info .name .like span::before {
    margin-right: 0;
  }
  .product .top .text .info .name .like span font {
    display: none;
  }
  .product .top .text .download span {
    flex: 0 0 100%;
    text-align: center;
  }
}
